html {
    --background-body: black;
    --background-button: white;
    --color-button: black;
    --border-color-display: white;
}

body {
    background-color: var(--background-body)
}

#container{
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #b4b4b4,
                inset -4px -4px 6px #e9e9e9;
    margin: 0px auto;
    margin-bottom: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg, #d8d8d8, #ffffff);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
}

#container.active .toggle{
    left: 40px;
}

.calc {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 700px;
    font-family: monospace;
}

.display {
    height: 3rem;
    margin-bottom: 1rem;
    border: 2px solid var(--border-color-display);
    text-align: right;
    font-size: 2rem;
    padding: 0 1rem;
    width: 100%;
}

.rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75px;
}

.rows button {
    text-transform: uppercase;
    background-color: var(--background-button);
    font-size: 1.5rem;
    color: var(--color-button);
}

.histories-display {
    width: 100%;
    height: 100px;
    resize: none;
}

body.active {
    --background-body: white;
    --background-button: black;
    --color-button: white;
    --border-color-display: black;    
}

/*
@media screen and (prefers-color-scheme: light) {
    html {
        --background-body: white;
        --background-button: black;
        --color-button: white;
        --border-color-display: black;
    }
}
*/
